<div class="header bg-info pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> Personnels </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Nouveau
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right"></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <form role="form" #form_personnel="ngForm" class="form-horizontal" method="POST" id="form_personnel">
    <div class="card mb-4">
      <div class="card-header">
        <h3 class="mb-0">Ajouter Personnel</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-10">
            <fieldset class="col-sm-12 field border p-2">
              <legend class="w-auto">Informations sur le personnel</legend>
              <table style="width: 100%; line-height: 3;">
                <tr>
                  <td><label for="matricule" class="col-sm-12 control-label">Matricule<font style="color: red">*</font></label></td>
                  <td><input type="text" class="form-control form-control-sm" id="matricule" name="matricule" [(ngModel)]="newPersonnel.matricule" required></td>
                </tr>
                <tr>
                  <td><label for="nom" class="col-sm-12 control-label">Nom<font style="color: red">*</font></label></td>
                  <td><input type="text" class="form-control form-control-sm" id="nom" name="nom" [(ngModel)]="newPersonnel.personnesPhysique.nomPersonnePhysique" required></td>
                </tr>
                <tr>
                  <td><label for="prenom" class="col-sm-12 control-label">Prénom<font style="color: red">*</font></label></td>
                  <td><input type="text" class="form-control form-control-sm" id="prenom" name="prenom" [(ngModel)]="newPersonnel.personnesPhysique.prenomPersonnePhysique" required></td>
                </tr>
                <tr>
                  <td><label for="categorie" class="col-sm-12 control-label">Catégorie<font style="color: red">*</font></label></td>
                  <td>
                    <select name="categorie" class="form-control form-control-sm" id="categorie" [(ngModel)]="newPersonnel.categorie" required>
                      <option value="" [selected]="true">--Sélectionner--</option>
                      <option *ngFor="let cat of categories" [ngValue]="cat">{{cat}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label for="dateArrivee" class="col-sm-12 control-label">Date d'Arrivée<font style="color: red">*</font></label></td>
                  <td><input type="date" class="form-control form-control-sm" id="dateArrivee" name="dateArrivee" [(ngModel)]="newPersonnel.dateArrivee" required></td>
                </tr>
                <tr>
                  <td><label for="situation" class="col-sm-12 control-label">Situation<font style="color: red">*</font></label></td>
                  <td><input type="text" class="form-control form-control-sm" id="situation" name="situation" [(ngModel)]="newPersonnel.situation" required></td>
                </tr>
                <tr>
                  <td><label for="structure" class="col-sm-12 control-label">Structure<font style="color: red">*</font></label></td>
                  <td>
                    <select name="structure" class="form-control form-control-sm" id="structure" [(ngModel)]="newPersonnel.structure" required>
                      <option value="">--Sélectionner--</option>
                      <option *ngFor="let structure of structures" [ngValue]="structure">{{structure}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label for="document" class="col-sm-12 control-label">Document<font style="color: red">*</font></label></td>
                  <td><input type="file" class="form-control form-control-sm" id="document" name="document" accept=".pdf,.doc,.docx" (change)="onFileChange($event)" required></td>
                </tr>
              </table>
            </fieldset><br>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: -10px;">
        <table style="width: 100%">
          <tr>
            <td align="center">
              <button class="btn btn-success" (click)="onFormSubmit();">
                <i class="fa fa-save"></i> Sauvegarder
              </button>
            </td>
            <td align="center">
              <button class="btn btn-danger" type="reset">
                <i class="fas fa-times-circle"></i> Annuler
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>
